.main-container {
	position: relative;
	min-height: calc(100vh - 104px);
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	overflow: hidden;
}

h1 {
	font-family: 'BBH Hegarty';
	font-weight: 100;
	font-size: 150px;
	margin-top: 70px;
	padding-bottom: 0px;
	z-index: 2; //puts the text in front of the globe if they overlap
}

.half-globe {
	width: 100%;
	height: 58.1vh;

	position: absolute;
	bottom: 0;
	left: 0;

	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;

	.globe {
		width: 2200px;
		position: absolute;
		top: 0;
		animation: rotateGlobe 20s ease-in-out infinite;
	}

	.signatures {
		width: 2250px;
		position: absolute;
		top: -20px;
		animation: rotateSignature 20s ease-in-out infinite;
	}

}

@keyframes rotateGlobe {

	/* 1ª Rotação + Pausa */
	0% {
		transform: rotate(0deg);
	}

	12% {
		transform: rotate(-360deg);
	}

	20% {
		transform: rotate(-360deg);
	}

	/* Fica parado aqui */

	/* 2ª Rotação + Pausa */
	32% {
		transform: rotate(-720deg);
	}

	40% {
		transform: rotate(-720deg);
	}

	/* Fica parado aqui */

	/* 3ª Rotação + Pausa */
	52% {
		transform: rotate(-1080deg);
	}

	80% {
		transform: rotate(-1080deg);
	}

	/* Fica parado aqui */

	/* 4ª Rotação + Pausa */
	92% {
		transform: rotate(-1440deg);
	}

	100% {
		transform: rotate(-1440deg);
	}

	/* Fica parado aqui e faz o loop */
}

@keyframes rotateSignature {

	/* 1ª Rotação + Pausa */
	0% {
		transform: rotate(0deg);
	}

	12% {
		transform: rotate(-90deg);
	}

	/* Roda 1/4 de volta */
	20% {
		transform: rotate(-90deg);
	}

	/* Fica parado para leitura */

	/* 2ª Rotação + Pausa */
	32% {
		transform: rotate(-180deg);
	}

	/* Roda mais 1/4 */
	40% {
		transform: rotate(-180deg);
	}

	/* Fica parado para leitura */

	/* 3ª Rotação + Pausa */
	52% {
		transform: rotate(-270deg);
	}

	/* Roda mais 1/4 */
	80% {
		transform: rotate(-270deg);
	}

	/* Fica parado para leitura */

	/* 4ª Rotação + Pausa */
	92% {
		transform: rotate(-360deg);
	}

	/* Completa a volta */
	100% {
		transform: rotate(-360deg);
	}

	/* Fica parado para leitura */
}

.hidden-signatures {
    display: none !important;
}