@use '@angular/material' as mat;

// input field
.mat-mdc-form-field {
  @include mat.form-field-overrides(
    (
      outlined-outline-color: var(--mat-sys-on-primary),
      outlined-focus-outline-color: var(--mat-sys-secondary),
    )
  );
}

// register form
.mat-mdc-form-register {
  @include mat.form-field-overrides(
    (
      outlined-outline-color: var(--mat-sys-on-primary),
      outlined-focus-outline-color: var(--mat-sys-secondary),
    )
  );
}

// handles pop-up panel
.mat-mdc-dialog-container {
  @include mat.dialog-overrides(
    (
      container-color: var(--mat-sys-primary-container),
    )
  );
}
.mat-mdc-dialog-panel {
  opacity: 0.90 !important;
}

