.stats {
	display: flex;
	width: fit-content;
	gap: 4px;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	margin-bottom: 15px;
	

	.circle {
		background-color: var(--mat-sys-on-primary-container);
		border-radius: 50%;
		width: 70px;
		height: 70px;
		color: var(--mat-sys-primary);
		text-align: center;
	}

	h1 {
		margin-bottom: 0;
		margin-top: 10px;
		font-family: "BBH Hegarty";
		font-weight: 100;
		font-size: 18px;
	}

	p {
		margin-top: 0;
		font-family: "BBH Bogle";
		width: 80%;
		margin: 0 auto;
		font-size: 10px;
		letter-spacing: 0.3px;
	}
}