<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="dialog-header">
    <app-close-button color="var(--mat-sys-on-primary-container)"></app-close-button>
  </div>
  <div class="title">
    <h2 mat-dialog-title>{{ 'auth.register' | transloco }}</h2>
    <hr>  
  </div>

  <mat-dialog-content>
    <div class="register-form">
      <mat-form-field appearance="outline" [hideRequiredMarker]="true">
        <input matInput type="text" formControlName="username" placeholder="{{ 'auth.username' | transloco }}" />
      </mat-form-field>
      <mat-form-field appearance="outline" [hideRequiredMarker]="true">
        <input matInput type="email" formControlName="email" placeholder="email" />
      </mat-form-field>
      <mat-form-field appearance="outline" [hideRequiredMarker]="true">
        <input matInput type="password" formControlName="password" placeholder="{{ 'auth.password' | transloco }}" />
      </mat-form-field>
      <mat-form-field appearance="outline" [hideRequiredMarker]="true">
        <input matInput type="password" formControlName="confirmPassword" placeholder="{{ 'auth.password-confirmation' | transloco }}" />
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button type="submit" mat-flat-button class="register-btn" [disabled]="form.invalid">
      {{ 'auth.register' | transloco }}
    </button>
    <app-google-auth-button></app-google-auth-button>
  </mat-dialog-actions>
</form>
