.dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px 0;
}

.mat-mdc-dialog-title {
  color: var(--mat-sys-on-primary-container) !important;
  text-decoration: underline;
  font-weight: bold;
  margin: 0 !important;
}

.close-btn {
  color: var(--mat-sys-primary-container) !important;
  background-color: var(--mat-sys-on-primary-container) !important;
  border-radius: 5px !important;
  width: 20px !important;
  height: 20px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 2px !important;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3) !important;
}

.close-btn mat-icon {
  font-size: 16px !important;
  width: 16px !important;
  height: 16px !important;
}

.input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  ::placeholder {
    opacity: 0.4 !important;
    color: var(--mat-sys-secondary) !important;
  }
}

.register-form {
  .mdc-notched-outline__leading,
  .mdc-notched-outline__notch,
  .mdc-notched-outline__trailing {
    border-color: var(--mat-sys-on-primary-container) !important;
  }
  .mdc-text-field__input {
    color: var(--mat-sys-on-primary-container) !important;
  }

  .mat-mdc-form-field.mat-focused {
    .mdc-notched-outline__leading,
    .mdc-notched-outline__notch,
    .mdc-notched-outline__trailing {
      border-color: var(--mat-sys-on-primary) !important;
    }
  }
}

.register-btn {
  width: 100%;
  border-radius: 50px !important;
  background-color: var(--mat-sys-on-primary-container) !important;
  color: var(--mat-sys-primary-container) !important;
  font-weight: bold;
  margin-bottom: 16px;
}
