:host {
	display: block;
	width: 370px;

	@media (max-width: 480px) {
		width: 300px;
	}
}

.main-container {
	display: flex;
	flex-direction: column;
	height: 422px;
	align-items: center;
	justify-content: center;
	border: 4px solid var(--mat-sys-on-primary-container) !important;
	border-radius: 25px;
	background-color: var(--mat-sys-primary-container) !important;

	@media (max-width: 480px) {
		height: 400px;
	}
	
	h1 {
		color: var(--mat-sys-on-primary) !important;
		font-family: "Thicker Black";
		font-weight: 100;
		font-size: 24px;
		margin-bottom: 4px;

		@media (max-width: 480px) {
			font-size: 18px;
		}
	}
	
	p {
		margin-bottom: 260px;
		margin-top: 0px;
		width: 260px;
		text-align: center;
		font-size: 14px;

		@media (max-width: 480px) {
			font-size: 12px;
			width: 200px;
		}
	}
}

.overlay-container {
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 420px;
        opacity: 0.82;
		margin-top: 310px;
    }
}

.card-wrapper {
	position: relative; 
	width: 100%; 
    border-radius: 25px; 
    overflow: hidden;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	&:hover {
		cursor: pointer;
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.55);
	}
}
