::ng-deep {

	.mat-mdc-dialog-container .mdc-dialog__surface {
		background-color: var(--mat-sys-primary-container);
		border-radius: 24px;
		border: 2px solid var(--mat-sys-on-primary) !important;
		box-shadow: none;
		width: 400px;
		padding: 10px;
	}
}

.title {
	color: var(--mat-sys-terciary);
}

p {
	color: var(--mat-sys-on-primary);
}

.btn {
	padding: 20px;
}