<div class="plan-form" [formGroup]="tripGroup()">

	<mat-form-field appearance="outline" [hideRequiredMarker]="true" subscriptSizing="dynamic" class="trip-name">
		<input formControlName="tripName" matInput placeholder="{{ 'plan-a-trip.trip-name' | transloco }}">
		@if (tripName.errors?.['required']) {
		<mat-error>{{ 'plan-a-trip.name-error' | transloco }}</mat-error>
		}
		@if (tripName.errors?.['minlength']) {
		<mat-error>{{ 'plan-a-trip.name-min-length-error' | transloco }}</mat-error>
		}
		@if (tripName.errors?.['maxlength']) {
		<mat-error>{{ 'plan-a-trip.name-max-length-error' | transloco }}</mat-error>
		}
	</mat-form-field>

	<mat-form-field appearance="outline" [hideRequiredMarker]="true" subscriptSizing="dynamic">
		<textarea formControlName="description" matInput
			placeholder="{{ 'plan-a-trip.trip-description' | transloco }}"></textarea>
		@if (description.errors?.['maxlength']) {
		<mat-error>{{ 'plan-a-trip.description-max-length-error' | transloco }}</mat-error>
		}
	</mat-form-field>

	<div class="budget-dates">
		<mat-form-field appearance="outline" [hideRequiredMarker]="true" subscriptSizing="dynamic">
			<input matInput formControlName="budget" placeholder="{{ 'plan-a-trip.trip-budget' | transloco }}">
			@if (budget.errors?.['required']) {
			<mat-error>{{ 'plan-a-trip.budget-error' | transloco }}</mat-error>
			}
			@if (budget.errors?.['pattern']) {
			<mat-error>{{ 'plan-a-trip.budget-numbers-error' | transloco }}</mat-error>
			}
		</mat-form-field>
		<mat-form-field appearance="outline" [hideRequiredMarker]="true" subscriptSizing="dynamic">
			<mat-date-range-input [rangePicker]="calendar">
				<input formControlName="startDate" readonly matStartDate
					placeholder="{{ 'plan-a-trip.start-date' | transloco }}">
				<input formControlName="endDate" readonly matEndDate
					placeholder="{{ 'plan-a-trip.end-date' | transloco }}">
			</mat-date-range-input>
			<mat-datepicker-toggle matIconSuffix [for]="calendar"></mat-datepicker-toggle>
			<mat-date-range-picker #calendar></mat-date-range-picker>
			@if (startDate.errors?.['required'] || endDate.errors?.['required']) {
			<mat-error>{{ 'plan-a-trip.date-error' | transloco }}</mat-error>
			}
		</mat-form-field>
	</div>

	<div class="country-and-city">
		<!-- country field -->
		<mat-form-field appearance="outline" [hideRequiredMarker]="true" subscriptSizing="dynamic">
			<input formControlName="country" type="text" matInput [matAutocomplete]="autoCountry"
				placeholder="{{ 'plan-a-trip.country' | transloco }}">

			<mat-autocomplete #autoCountry="matAutocomplete" [displayWith]="displayCountryFn">
				@for (country of listOfCountries$ | async; track country.name) {
				<mat-option [value]="country" (onSelectionChange)="onCountrySelected(country)">
					{{ country.name }}
				</mat-option>
				}
			</mat-autocomplete>

			@if (country.errors?.['required']) {
			<mat-error>{{ 'plan-a-trip.country-error' | transloco }}</mat-error>
			}
			@if (country.hasError('countryNotSelected') && country.touched) {
			<mat-error>{{ 'plan-a-trip.country-string-error' | transloco }}</mat-error>
			}
		</mat-form-field>

		<!-- city field -->
		<mat-form-field appearance="outline" [hideRequiredMarker]="true" subscriptSizing="dynamic">
			<mat-chip-grid #chipGrid>
				@for (city of selectedCities(); track city) {
				<mat-chip-row (removed)="removeCity(city)">
					{{ city }}
					<button matChipRemove [attr.aria-label]="'Remove ' + city">
						<mat-icon>cancel</mat-icon>
					</button>
				</mat-chip-row>
				}
			</mat-chip-grid>
			<input type="text" #cityInput matInput formControlName="city" [matChipInputFor]="chipGrid" [matAutocomplete]="autoCity"
				[disabled]="!selectedCountryId()" placeholder="{{ 'plan-a-trip.city' | transloco }}">

			<mat-autocomplete #autoCity="matAutocomplete" (optionSelected)="selectedCity($event)">
				@for (city of listOfCities$ | async; track city.name) {
					<mat-option [value]="city.name">
						{{ city.name }}
					</mat-option>
				}
			</mat-autocomplete>

		</mat-form-field>
	</div>

	<!-- select trip's privacy -->
	<div class="privacy-container">
		<p> {{ 'plan-a-trip.privacy-text' | transloco }}</p>
		<mat-form-field appearance="outline" [hideRequiredMarker]="true" subscriptSizing="dynamic"
			class="custom-privacy-select">
			<mat-select formControlName="visibility" panelClass="custom-privacy-panel">
				<mat-option [value]="TripVisibility.Private">{{ 'plan-a-trip.private-option' | transloco }}</mat-option>
				<mat-option [value]="TripVisibility.Public">{{ 'plan-a-trip.friends-option' | transloco }}</mat-option>
				<mat-option [value]="TripVisibility.FriendsOnly">{{ 'plan-a-trip.public-option' | transloco
					}}</mat-option>
			</mat-select>
		</mat-form-field>
	</div>

</div>