<form class="plan-form">
	<mat-form-field appearance="outline" [hideRequiredMarker]="true" subscriptSizing="dynamic">
		<input matInput placeholder="{{ 'plan-a-trip.trip-name' | transloco }}">
	</mat-form-field>
	<mat-form-field appearance="outline" [hideRequiredMarker]="true" subscriptSizing="dynamic">
		<textarea matInput placeholder="{{ 'plan-a-trip.trip-description' | transloco }}"></textarea>
	</mat-form-field>
	<mat-form-field appearance="outline" [hideRequiredMarker]="true" subscriptSizing="dynamic">
		<mat-date-range-input [formGroup]="range" [rangePicker]="calendar">
			<input matStartDate formControlName="start" placeholder="{{ 'plan-a-trip.start-date' | transloco }}">
			<input matEndDate formControlName="end" placeholder="{{ 'plan-a-trip.end-date' | transloco }}">
		</mat-date-range-input>
		
		<mat-datepicker-toggle matIconSuffix [for]="calendar"></mat-datepicker-toggle>
		
		<mat-date-range-picker #calendar></mat-date-range-picker>
	</mat-form-field>

</form>