.auth-nav-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    padding: 32px;
}

.btn {
    transition: all 300ms ease-in-out;
    border-radius: 20px !important;
    --mat-outlined-button-outline-color: var(--mat-sys-primary);
    background-color: var(--mat-sys-primary-container) !important;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	border-radius: 25px;
	display: block;
}

.login {
	border: 2px solid var(--mat-sys-on-primary) !important;
	color: var(--mat-sys-on-primary) !important;

	&:hover, &.popup-active {
		background-color: var(--mat-sys-on-primary) !important;
		color: var(--mat-sys-primary-container) !important;
	}

}

.register {
	border: 2px solid var(--mat-sys-secondary) !important;
	color: var(--mat-sys-secondary) !important;

	&:hover {
		background-color: var(--mat-sys-secondary) !important;
		color: var(--mat-sys-primary-container) !important;
	}
}

