.mat-icon {
	margin: 0 !important;
	padding: 0 !important;
	font-family: 'Material Icons' !important;
	font-size: 14px;
	opacity: 1;
	color: var(--mat-sys-primary);
	display: flex;
	align-items: center;
	justify-content: end;
	font-weight: 600;
}

.breadcrumb-container {
	margin-right: 50px;
	display: flex;
	align-items: center;
	justify-content: end;
	
	a {
		text-decoration: none;
	}
}

.breadcrumb-text {
	color: var(--mat-sys-primary);
	font-weight: 500;
}

