.main-container {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 auto;
	margin-bottom: 50px;
}

.trip-details {
	gap: 10px;

	h1 {
		font-family: "BBH Hegarty";
		font-weight: 400;
		font-size: 64px;
		margin-bottom: 10px;
		text-transform: uppercase;
		
	}

	h2 {
		font-family: "BBH Bogle";
		font-weight: 400;
		font-size: 30px;
		color: var(--mat-sys-on-primary);
		opacity: 0.7;
		margin-top: 0;
		margin-bottom: 10px;
	}

	p {
		margin-top: 0;
		color: var(--mat-sys-on-primary);
		font-size: 16px;
	}
}