<div class="main-container">
	<div class="trip-details">
		<h1>{{ tripStateService.trip()?.tripName }}</h1>
		<h2>
			@if (tripStateService.trip()?.city) {
				@for (city of tripStateService.trip()?.city; track city; let last = $last) {
					<span>{{ city }}{{ !last ? ', ' : '' }}</span>
				}
			}
			<!-- @else {
				<span>{{ tripStateService.trip()?.country }}</span>
			} -->
		</h2>
		<p>{{ tripStateService.trip()?.description }}</p>
	</div>
	
	<div class="cards">
		<!-- container itinerário -->
		<!-- container crew -->
		<!-- container expenses -->
	</div>

	<div class="management-buttons">
		<button class="tertiary-btn" matButton routerLink="/plan-a-trip/edit/120">Edit Trip Details</button>
		<button class="tertiary-btn" matButton>Delete Trip</button>
	</div>
</div>

