.mat-icon {
	margin: 0 !important;
	padding: 0 !important;
	color: var(--mat-sys-on-primary) !important;
	font-weight: 500;
}

.language {
	transition: all 300ms ease-in-out;
	border-radius: 50% !important;
	border: 2px solid var(--mat-sys-on-primary) !important;
	display: inline-flex !important;
	align-items: center !important;
	justify-content: center !important;
	padding: 0 !important;
	width: 40px !important;
	height: 40px !important;
	min-width: 42px !important;

	&:hover {
		.mat-icon {
			transition: all 300ms ease-in-out;
			color: var(--mat-sys-secondary) !important;
		}
	}
}

