<button matButton="outlined" class="std-btn language" [matMenuTriggerFor]="menu">
	<mat-icon>language</mat-icon>
</button>
<mat-menu #menu="matMenu" yPosition="below" xPosition="after" class="centered-menu">
	<div class="language-item">
		<button mat-menu-item (click)="changeLanguage('en')">EN</button>
		<!-- <img src="./images/PT.png" alt="pt_flag"> -->
	</div>
	<button mat-menu-item (click)="changeLanguage('es')">ES</button>
	<button mat-menu-item (click)="changeLanguage('pt')">PT</button>
</mat-menu>
