<nav>
	<div class="logo-container">
		<h1 [class.logo]="showProfile()">TRIPPIE</h1>
	</div>

	<div class="buttons">
		<!-- HAMBURGER MENU -->
		@if (showPlanATrip()) {
		<div class="hamburger-btn">
			<button mat-icon-button class="hamburger-menu" [matMenuTriggerFor]="mobileMenu">
				<mat-icon>menu</mat-icon>
			</button>
			<mat-menu #mobileMenu="matMenu" yPosition="below" xPosition="after" class="hamburguer-menu-panel">
				<button mat-menu-item routerLink="/home">{{ 'navbar.home' | transloco }}</button>
				<button mat-menu-item [routerLink]="['/profile', authUsername()]">{{ 'navbar.profile' | transloco }}</button>
				<button mat-menu-item routerLink="/plan-a-trip">{{ 'navbar.plan-a-trip' | transloco }}</button>
				<button mat-menu-item routerLink="/my-trips">{{ 'navbar.my-trips' | transloco }}</button>
				<button mat-menu-item routerLink="/friends">{{ 'navbar.friends' | transloco }}</button>
				<button mat-menu-item routerLink="/my-expenses">{{ 'navbar.my-expenses' | transloco }}</button>
			</mat-menu>
		</div>
		}

		<!-- MAIN MENU -->
		 <div class="full-screen-buttons">
			 @if (showHome()) {
			 <button routerLinkActive="active-link" routerLink="/home" class="primary-btn" matButton="outlined">{{ 'navbar.home' | transloco }}</button>
			 }
			 @if (showProfile()) {
			 <button routerLinkActive="active-link" [routerLink]="['/profile', authUsername()]" class="primary-btn" [class.keep-visible]="isDashboardRoute"
				 matButton="outlined">{{ 'navbar.profile' | transloco }}</button>
			 }
			 @if (showPlanATrip()) {
			 <button routerLinkActive="active-link" routerLink="/plan-a-trip" class="primary-btn" matButton="outlined">{{ 'navbar.plan-a-trip' | transloco }}</button>
			 }
			 @if (showMyTrips()) {
			 <button routerLinkActive="active-link" routerLink="/my-trips" class="primary-btn" matButton="outlined">{{ 'navbar.my-trips' | transloco }}</button>
			 }
			 @if (showFriends()) {
			 <button routerLinkActive="active-link" routerLink="/friends" class="primary-btn"
				 matButton="outlined">{{ 'navbar.friends' | transloco }}</button>
			 }
			 @if (showMyExpenses()) {
			 <button routerLinkActive="active-link" routerLink="/my-expenses" class="primary-btn" matButton="outlined">{{ 'navbar.my-expenses' | transloco }}</button>
			 } 
		</div>
		@if (showSearch()) {
		<mat-form-field appearance="outline" class="search">
			<mat-icon class="search-icon" matPrefix>search</mat-icon>
			<input matInput [formControl]="searchControl" [matAutocomplete]="auto" placeholder="{{ 'navbar.search-users' | transloco }}" (focus)="clearOnFocus()" />
			<mat-autocomplete #auto="matAutocomplete" panelClass="custom-search-panel" (optionSelected)="goToProfile($event)">
				@for (user of filteredUsers | async; track user) {
				<mat-option [value]="user">
					<div class="search-results">
						<div class="avatar">
							@if (user.profilePhotoUrl) {
								<img referrerpolicy="no-referrer" [src]="getUserAvatarUrl(user.profilePhotoUrl)" alt="avatar" class="avatar-img">
							} @else {
								<mat-icon class="avatar-icon">person</mat-icon>
							}
						</div>
						<span class="username">{{user.displayName}}</span>
					</div>
				</mat-option>
				}
			</mat-autocomplete>
		</mat-form-field>
		}

		<!-- LOGOUT BUTTON -->
		@if (showLogout()) {
		<button matButton="outlined" class="btn-logout primary-btn" [matMenuTriggerFor]="menu">
			<mat-icon>power_settings_new</mat-icon>
		</button>

		<mat-menu #menu="matMenu" yPosition="below" xPosition="after" class="centered-menu">
			<!-- <button mat-menu-item>{{ 'navbar.account' | transloco }} </button> -->
			<button (click)="logout()" mat-menu-item>{{ 'navbar.logout' | transloco }}</button>
		</mat-menu>
		}

		<!-- LOGIN AND REGISTER BUTTONS -->
		@if (showLogin()) {
		<button class="primary-btn login" (click)="openLogin()" mat-stroked-button>{{ 'auth.login' | transloco }}</button>
		}
		@if (showRegister()) {
		<button class="primary-btn register" (click)="openRegister()" mat-stroked-button>
			{{ 'auth.register' | transloco }}
		</button>
		}

		<!-- LANGUAGE BUTTON -->
		@if (showLanguageSelector()) {
		<app-language-button></app-language-button>
		}
	</div>
</nav>
