@use '@angular/material' as mat;

.hamburger-btn,
.hamburguer-menu-panel {
.hamburger-btn, .hamburguer-menu-panel{
    display: none !important;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    padding: 32px;
}

.logo-container {
    margin-right: auto;
    margin-right: auto; 
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    min-width: 95px;
}

.btn {
    transition: all 300ms ease-in-out;
    border-radius: 20px !important;
    --mat-outlined-button-outline-color: var(--mat-sys-primary);
    border: 2px solid var(--mat-sys-primary) !important;
    background-color: var(--mat-sys-secondary-container) !important;
    color: var(--mat-sys-primary) !important;
}

.mat-icon {
    margin: 0 !important;
    padding: 0 !important;
    color: var(--mat-sys-primary) !important;
    font-weight: 700;
    border: 1px solid var(--mat-sys-primary) !important;
}

.btn-logout {
    transition: all 300ms ease-in-out;
    border-radius: 50% !important;
    border: 2px solid var(--mat-sys-primary) !important;

    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;

    border-radius: 50% !important; 
    border: 1px solid var(--mat-sys-primary) !important;
    
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    
    padding: 0 !important;
    width: 40px !important;
    height: 40px !important;
    min-width: 42px !important;
    background-color: var(--mat-sys-secondary-container) !important;
}

.btn:hover {
    background-color: var(--mat-sys-primary) !important;
    color: var(--mat-sys-secondary-container) !important;
}

.btn-logout:hover {
    background-color: var(--mat-sys-primary) !important;
    color: var(--mat-sys-secondary-container) !important;

    .mat-icon {
        color: var(--mat-sys-secondary) !important;
    }
}

.btn:hover {
    background-color: var(--mat-sys-secondary-container) !important;
}

.btn-logout:hover{
    background-color: var(--mat-sys-primary) !important;
    color: white;
    border-color: white;
}

/* Garante que o ícone dentro não tenha margens que empurrem o botão */
.btn-logout mat-icon {
    margin: 0 !important;
    padding: 0 !important;
}

::ng-deep {
    .mat-mdc-menu-panel.centered-menu {
        margin-left: -30px;
        margin-top: 8px !important;
        border-radius: 20px !important;
        border: 1px solid var(--mat-sys-primary);
        background-color: var(--mat-sys-primary) !important;
        min-width: 100px !important;
    }

    .mat-mdc-menu-panel.hamburguer-menu-panel {
        margin-top: 10px !important;
        border-radius: 20px !important;
        border: 1px solid var(--mat-sys-primary);
        background-color: var(--mat-sys-primary) !important;
        /* Aumenta a largura conforme pediste anteriormente */
        min-width: 310px !important;
    }

    .mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
        color: var(--mat-sys-secondary-container);
        text-align: center;
    }

    .mat-mdc-menu-content .mat-mdc-menu-item:hover {
        background-color: var(--mat-sys-primary) !important;
    }

    .mat-mdc-menu-content .mat-mdc-menu-item:hover .mat-mdc-menu-item-text {
        color: var(--mat-sys-tertiary);
        text-align: center;
    }
}

.search {
    transition: all 300ms ease-in-out;
    width: 192px;
    color: white !important;
    text-align: center;
}

    .mat-mdc-menu-content .mat-mdc-menu-item:hover .mat-mdc-menu-item-text {
        color: var(--mat-sys-primary);
        text-align: center;
    }  
}

.search {
    transition: all 300ms ease-in-out;
    width: 192px;
    margin-bottom: -1.25em;
    font-size: 15px;
    letter-spacing: 0.1px;

    --mdc-outlined-text-field-container-color: var(--mat-sys-secondary-container);
    --mdc-outlined-text-field-outline-color: var(--mat-sys-secondary);
    --mdc-outlined-text-field-focus-outline-color: var(--mat-sys-primary);
    --mat-form-field-container-height: 40px;
    --mdc-outlined-text-field-container-shape: 20px;

    input {
        color: var(--mat-sys-primary) !important;
        color: var(--mat-sys-on-primary-container) !important;
        opacity: 1 !important;
    }

    input::placeholder {
        color: var(--mat-sys-primary) !important;
        color: var(--mat-sys-on-secondary-container) !important;
        opacity: 0.6 !important;
    }

    .mat-icon {
        font-family: 'Material Icons' !important;
        font-size: 20px;
        width: 20px;
        height: 20px;
        opacity: 0.5;
        color: var(--mat-sys-on-secondary-container);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.search ::ng-deep {
    .mat-mdc-form-field-icon-prefix {
        padding: 0 4px 0 12px !important;
    }

    .mat-icon {
        margin-left: 8px !important;
        margin-right: 5px !important;
    }
    
    .mdc-text-field--outlined{
        color: var(--mat-sys-primary) !important;
    }

    .mdc-text-field--outlined {
        border-radius: 20px !important;
        background-color: var(--mat-sys-secondary-container) !important;
    }

    .mat-mdc-form-field-infix {
        display: flex;
        align-items: center;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        min-height: 40px !important;
        border-top: 0 !important;
    }

    .mdc-notched-outline__leading {
        border-radius: 20px 0 0 20px !important;
        width: 20px !important;
        border-color: var(--mat-sys-primary) !important;
    }

    .mdc-notched-outline__trailing {
        border-radius: 0 20px 20px 0 !important;
        border-color: var(--mat-sys-primary) !important;
    }

    .mdc-notched-outline__leading,
    .mdc-notched-outline__notch,
    .mdc-notched-outline__trailing {
        border-width: 2px !important;
    }
}

@media (max-width: 1053px) {
    /* Esconde os botões normais da nav-bar */
    .nav-bar .btn {
        display: none !important;
    }

    .hamburger-btn {
        display: inline-flex !important;
        transition: all 300ms ease-in-out;
        border-radius: 50% !important;

        display: inline-flex !important;
        align-items: center !important;
        justify-content: center !important;

        padding: 0 !important;
        width: 36px !important;
        height: 36px !important;
        min-width: 37px !important;
        border: 2px solid var(--mat-sys-primary) !important;
        background-color: var(--mat-sys-secondary-container) !important;

        .mat-icon {
            color: var(--mat-sys-primary) !important;
            font-weight: 300 !important;
        }
    }

    .hamburger-btn {
        display: inline-flex !important;
        transition: all 300ms ease-in-out;
        border-radius: 50% !important; 
        border: 1px solid var(--mat-sys-primary) !important;
        
        display: inline-flex !important;
        align-items: center !important;
        justify-content: center !important;
        
        padding: 0 !important;
        width: 40px !important;
        height: 40px !important;
        min-width: 42px !important;

        .mat-icon {
            color: var(--mat-sys-primary) !important;
        }
    }

    .hamburger-btn:hover{
        background-color: var(--mat-sys-primary) !important;
        border-color: white;

        .mat-icon {
            color: var(--mat-sys-secondary) !important;
            color: white !important;
        }
    }

    ::ng-deep {

        .mat-mdc-menu-content .centered-menu {
            background-color: var(--mat-sys-primary) !important;
            border-radius: 20px !important;
            margin-top: 10px !important;
            min-width: 200px;
        }

        .mat-mdc-menu-panel .centered-menu {
            margin-left: -30px;
            margin-top: 8px !important;
            border-radius: 20px !important;
            border: 1px solid var(--mat-sys-primary);
            background-color: var(--mat-sys-primary) !important;
            min-width: 100px !important;

            margin-left: -30px; /* Ajuste este valor conforme a largura do seu menu */
            margin-top: 8px !important;
            /* Garante o arredondamento que você já estava usando */
            border-radius: 20px !important;
            border: 1px solid var(--mat-sys-primary);
            background-color: var(--mat-sys-primary) !important;
            min-width: 100px !important; /* Define uma largura fixa para facilitar a conta */

        }

        .mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
            color: white !important;
            text-align: center;
        }

        .mat-mdc-menu-content .mat-mdc-menu-item:hover {
            background-color: var(--mat-sys-primary) !important;
        }

        .mat-mdc-menu-content .mat-mdc-menu-item:hover .mat-mdc-menu-item-text {
            color: var(--mat-sys-tertiary) !important;
            text-align: center;
        }
        .mat-mdc-menu-content .mat-mdc-menu-item:hover .mat-mdc-menu-item-text {
            color: var(--mat-sys-primary);
            text-align: center;
        }  
    }
}

