.sidenav-list {
    width: 200px;
    background-color: #f8f9fa;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

::ng-deep {
    .mat-drawer-opened {
        background-color: var(--mat-sys-primary) !important;
    }
}