<div class="dialog-header">
	<app-close-button color="var(--mat-sys-on-primary)"></app-close-button>
</div>
<div class="title">
	<h2 mat-dialog-title>{{ 'auth.login' | transloco }}</h2>
	<hr>
</div>
<mat-dialog-content>
	<div class="login-form">
		<mat-form-field appearance="outline" [hideRequiredMarker]="true">
			<input matInput type="text" placeholder="{{ 'auth.username' | transloco }}" required>
		</mat-form-field>
		<mat-form-field appearance="outline" [hideRequiredMarker]="true">
			<input matInput type="text" placeholder="{{ 'auth.password' | transloco }}" required>
		</mat-form-field>
		<button matButton="filled" class="btn-login">{{ 'auth.login' | transloco }}</button>
		<app-google-auth-button></app-google-auth-button>
	</div>
</mat-dialog-content>
