<div class="dialog-header">
	<app-close-button color="var(--mat-sys-on-primary)"></app-close-button>
</div>
<div class="title">
	<h2 mat-dialog-title>{{ 'auth.login' | transloco }}</h2>
	<hr>
</div>
<mat-dialog-content>
	<form class="login-form" [formGroup]="form" (ngSubmit)="submit()">
		<mat-form-field appearance="outline" [hideRequiredMarker]="true">
			<input matInput type="email" formControlName="email" placeholder="{{ 'auth.email' | transloco }}" required>
		</mat-form-field>
		<mat-form-field appearance="outline" [hideRequiredMarker]="true">
			<input matInput type="password" formControlName="password" placeholder="{{ 'auth.password' | transloco }}" required>
		</mat-form-field>
		<button matButton="filled" type="submit" class="btn-login">{{ 'auth.login' | transloco }}</button>
		<app-google-auth-button></app-google-auth-button>
	</form>
</mat-dialog-content>
