.mat-mdc-dialog-title {
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--mat-sys-on-primary) !important;
}

.input-fields {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	::placeholder {
		color: var(--mat-sys-on-primary) !important;
		opacity: 0.6 !important;
	}
}

.mat-mdc-dialog-content {
	width: 100%;
}

.mat-mdc-dialog-inner-container {
	border: 2px solid var(--mat-sys-on-primary) !important;
}

.btn-google {
	background-color: var(--mat-sys-on-primary) !important;
	color: var(--mat-sys-primary-container) !important;
	width: 100%;

	&:hover {
		background-color: var(--mat-sys-secondary) !important;
		color: var(--mat-sys-primary-container) !important;
	}
}
