@use '@angular/material' as mat;

@include mat.core();
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Hegarty&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&display=swap');

$my-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$orange-palette,
  ),
  typography: (
    brand-family: 'ADLaM Display',
    plain-family: 'ADLaM Display',
  ),
));

html {
  font-family: "ADLaM Display", system-ui;

  height: 100%;
  @include mat.all-component-themes($my-theme);
  @include mat.system-level-colors($my-theme);
  @include mat.system-level-typography($my-theme);

  // Sobrescrita manual com as tuas cores para o Spring Boot UI
  --mat-sys-primary: #FFD372;
  --mat-sys-on-primary: #422E00;
  --mat-sys-primary-container: #FFEABA;
  --mat-sys-on-primary-container: #E87C00;
  
  --mat-sys-secondary: #FF8800;
  --mat-sys-tertiary: #558E86;
  --mat-sys-forth: #ADA864;
}

body {
  margin: 0;
  height: 100%;
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary-container);
}


