@use 'material-theme' as theme;
@use '@angular/material' as mat;

:root {
  @include mat.autocomplete-overrides(
    (
      background-color: var(--mat-sys-primary-container),
      container-shape: 20px,
    )
  );

  @include mat.form-field-overrides(
    (
      container-height: 40px,
      container-text-size: 16px,
      container-vertical-padding: 7px,
      outlined-outline-width: 2px,
      outlined-container-shape: 20px,
      //for border-radius
    )
  );
}

.std-btn {
  transition: all 500ms ease-in-out;
  border-radius: 20px !important;
  border: 2px solid var(--mat-sys-on-primary) !important;
  background-color: var(--mat-sys-primary-container) !important;
  color: var(--mat-sys-on-primary) !important;

  &:hover {
    background-color: var(--mat-sys-on-primary);
    color: var(--mat-sys-primary-container) !important;
  }
}

.register-dialog {
  border-radius: 20px !important;
  overflow: hidden !important;
}

.register-dialog .mat-mdc-dialog-surface {
  background-color: var(--mat-sys-primary-container) !important;
  border-radius: 20px !important;
  border: 2px solid var(--mat-sys-on-primary-container) !important;
}
