@use 'material-theme' as theme;
@use '@angular/material' as mat;

:root {
	@include mat.autocomplete-overrides((background-color: var(--mat-sys-primary-container),
			container-shape: 20px,
		));

	@include mat.form-field-overrides((container-height: 40px,
			container-text-size: 16px,
			container-vertical-padding: 7px,
			outlined-outline-width: 2px,
			outlined-container-shape: 20px,
			//for border-radius
		));
}

.primary-btn {
	transition: all 300ms ease-in-out;
	border-radius: 20px !important;
	border: 2px solid var(--mat-sys-on-primary) !important;
	background-color: var(--mat-sys-primary-container) !important;
	color: var(--mat-sys-on-primary) !important;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

	&:hover {
		transition: all 300ms ease-in-out;
		background-color: var(--mat-sys-on-primary) !important;
		color: var(--mat-sys-primary-container) !important;
	}

}

.tertiary-btn {
	transition: all 300ms ease-in-out;
	background-color: var(--mat-sys-on-primary-container) !important;
	color: var(--mat-sys-primary-container) !important;
	border: 2px solid var(--mat-sys-on-primary-container) !important;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	display: block;

	&:hover {
		background-color: var(--mat-sys-on-primary-container) !important;
		color: var(--mat-sys-primary-container) !important;
	}

	&:disabled {
		opacity: 0.6 !important;
		cursor: not-allowed;
	}
}

.mat-mdc-menu-panel.centered-menu {
	margin-left: -30px;
	margin-top: 8px !important;
	border-radius: 20px !important;
	// border: 1px solid var(--mat-sys-primary);
	background-color: var(--mat-sys-on-primary) !important;
	min-width: 100px !important;
}

.mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
	color: var(--mat-sys-primary-container);
	text-align: center;
}

.mat-mdc-menu-content .mat-mdc-menu-item:hover {
	background-color: var(--mat-sys-on-primary) !important;
}

.mat-mdc-menu-content .mat-mdc-menu-item:hover .mat-mdc-menu-item-text {
	color: var(--mat-sys-on-primary-container) !important;
	text-align: center;
}

.custom-search-panel .mat-mdc-option {
	position: relative !important;
	overflow: visible !important;
}

.custom-search-panel .add-friend-btn .mat-icon {
	color: var(--mat-sys-on-primary) !important;
}

.mat-mdc-form-field {

	mat-icon {
		color: var(--mat-sys-on-primary);
		font-size: 18px;
		opacity: 0.6;
		text-align: left;
		height: 19px;
	}

	.mdc-text-field--outlined {
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		border-radius: 25px;
		display: block;
		background-color: var(--mat-sys-primary-container) !important;
	}
}

.mat-mdc-form-field-error {
	color: var(--mat-sys-error) !important;
	font-size: 11px;
	margin-top: 2px;
}


//CALENDAR
.mat-datepicker-popup .mat-calendar {
	background-color: var(--mat-sys-primary-container) !important; /* Cor de fundo do painel */
	border-radius: 16px; /* Opcional: dá um toque arredondado ao menu do calendário */
}

/* Opcional: Altera a cor dos textos dos dias e cabeçalho para contrastar com o novo fundo */
.mat-datepicker-popup {
	.mat-calendar-body-cell-content, 
	.mat-calendar-header,
	.mat-calendar-table-header {
		color: var(--mat-sys-on-primary-container) !important;
	}

	/* Opcional: Altera a cor do dia atual/hoje */
	.mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
		border-color: var(--mat-sys-on-primary-container) !important;
	}
}

.mat-calendar-body-selected {
	background-color: var(--mat-sys-on-primary) !important; /* Castanho escuro */
	color: white !important; /* Texto branco para contrastar */
}

/* 2. Cor do meio do intervalo (Os dias que ficam entre o início e o fim) */
.mat-calendar-body-in-range::before {
	background: var(--mat-sys-primary) !important; /* Castanho claro / Bege para o fundo do meio */
}

.mat-datepicker-popup, .mat-calendar {	
	/* 3. Forçar o estilo do picotado*/
	[class*="mat-calendar-body-in-preview"] {
		border-color: var(--mat-sys-on-primary) !important;
		color: var(--mat-sys-on-primary) !important;
	}
}

// Dropdown selection design
.mat-mdc-select-panel {
	background-color: var(--mat-sys-primary-container) !important;
	border-radius: 0px 0px 25px 25px !important;

	.mdc-list-item__primary-text {
		color: var(--mat-sys-on-primary) !important;
	}

	.mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after {
		color: var(--mat-sys-on-primary-container) !important;
	}
}

.mat-mdc-select-value-text {
	color: var(--mat-sys-on-primary) !important;
}

.mat-mdc-select-arrow svg {
	fill: var(--mat-sys-on-primary-container) !important;
}




