@use '@angular/material' as mat;
@use 'material-theme' as theme;

:root {
  //the overlay of the search results is rendered outside of the component object, so we have to change the appearance here 
  @include mat.autocomplete-overrides((
    background-color: var(--mat-sys-secondary-container),
    container-shape: 20px,                    
  ));
}

.std-btn {
	transition: all 500ms ease-in-out;
    border-radius: 20px !important;
    border: 1px solid var(--mat-sys-primary) !important;

	&:hover
	{
		background-color: var(--mat-sys-primary);
		color: white !important;
	}
}
