.full-page {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
}

.main-container {
	width: 70%;
	margin: 0 auto; //centers the component
	margin-bottom: 5%;

	@media (max-width: 960px) {
		width: 90%;
	}

	@media (max-width: 480px) {
		width: 80%;
	}
}

.greet-text {
	display: flex;
	flex-direction: column;
	font-family: "Thicker Black";
	font-weight: 100;
	flex-wrap: wrap;
	
	h1 {
		color: var(--mat-sys-on-primary);
		font-size: 250%;
		margin-bottom: 12px;
		font-weight: 100;

		@media (max-width: 480px) {
			font-size: 200%;
			margin-top: 10%;
		}
	}
	
	p {
		color: var(--mat-sys-on-primary-container);
		font-size: 150%;
		margin-bottom: 0px;
		margin-top: 0px;

		@media (max-width: 480px) {
			font-size: 110%;
		}
	}
}

.cards-container {
	display: flex;
	justify-content: center;
	width: 100%;
}

.cards-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 5vh;
	flex-wrap: wrap;
	width: 100%;

	@media (max-width: 1650px) {
		width: 100%;
		gap: 40px;
		flex-direction: column;
	}

	@media (max-width: 480px) {
		gap: 27px;
	}
}




