<!-- DASHBOARD USER -->
<div class="full-page">
	<app-navbar [showSearch]="true" [showProfile]="true" [showLanguageSelector]="true" [showLogout]="true"></app-navbar>
	<div class="main-container">
		<div class="greet-text">
			<h1> {{ 'dashboard.greet' | transloco }} @user</h1>
			<p> {{ 'dashboard.intro' | transloco }} </p>
		</div>

		<div class="cards-section">
			<app-dashboard-card title="navbar.trip" description="card.trip-description"
				imagePath="./images/trip.png"></app-dashboard-card>
			<app-dashboard-card title="navbar.my-trips" description="card.my-trips-description"
				imagePath="./images/my_trips.png"></app-dashboard-card>
			<app-dashboard-card title="navbar.my-friends" description="card.my-friends-description"
				imagePath="./images/friends.png"></app-dashboard-card>
			<app-dashboard-card title="navbar.my-expenses" description="card.my-expenses-description"
				imagePath="./images/wallet.png"></app-dashboard-card>
		</div>
	</div>
	<div class="stats">
		<div class="circle">
			<h1>14</h1> 
			<p>{{ 'stats.countries' | transloco }} </p>
		</div>
		<div class="circle">
			<h1>4</h1> 
			<p>{{ 'stats.trips' | transloco }} </p>
		</div>
		<div class="circle">
			<h1>2</h1> 
			<p>{{ 'stats.countdown' | transloco }} </p>
		</div>
	</div>
	<h1 class="slogan">Less time planning. More time wandering.</h1>
</div>
