.slogan {
	font-family: "BBH Bogle";
	color: var(--mat-sys-on-primary);
	opacity: 0.7;
	font-weight: 100;
	font-size: 18px;
	margin: 0 auto;
	margin-bottom: 15px;
}

.slogan-container {
	display: flex;
	justify-content: center;
}
