<div #viewport class="scrollbar-viewport" (scroll)="onScroll()">
  <ng-content />
</div>

@if (isScrollable()) {
  <div
    class="scrollbar-track"
    role="scrollbar"
    aria-orientation="vertical"
    [attr.aria-valuenow]="scrollPercent()"
    aria-valuemin="0"
    aria-valuemax="100"
    (mousedown)="onTrackClick($event)"
  >
    <div
      #thumb
      class="scrollbar-thumb"
      [style.height.%]="thumbHeight()"
      [style.top.%]="thumbTop()"
      (mousedown)="onThumbDragStart($event)"
    ></div>
  </div>
}
